<a href="https://colab.research.google.com/github/GreatNaza/Hamoye-Projects/blob/main/StageA_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
# %cd /content/drive/MyDrive/Machine

Mounted at /content/drive

# Importing Packages

In [2]:
import pandas as pd
import numpy as np

**Data Loading**

In [4]:
df = pd.read_csv('/content/drive/MyDrive/HAMOYE INTERNSHIP/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding ='latin-1')

In [7]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

**Question1 Answer**

In [18]:
df[['Area','Y2017']].groupby('Area').sum().sort_values(by='Y2017').head(7)

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

**Question3 Answer**

In [65]:
df['Y2017'].aggregate(['mean','std']).round(2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

**Question7 Answer**

In [33]:
df[['Area','Y2017']].groupby('Area').sum().sort_values(by='Y2017').tail(1)

              Y2017
Area
Nigeria  1483268.23

**Question9 Answer**

In [35]:
df['Area'].nunique()

49

In [41]:
df[['Y2014','Y2015','Y2016','Y2017','Y2018','Element']].groupby('Element').sum().max().sort_values()

Y2014    1996716.35
Y2015    2021493.55
Y2016    2044842.70
Y2017    2088198.10
Y2018    2161192.10
dtype: float64

In [42]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

**Question11**

In [47]:
df[['Y2014','Y2015','Y2016','Y2017','Y2018','Element Code']].corr()

                 Y2014     Y2015     Y2016     Y2017     Y2018  Element Code
Y2014         1.000000  0.994647  0.996081  0.995230  0.994872      0.024457
Y2015         0.994647  1.000000  0.995739  0.988048  0.988208      0.023889
Y2016         0.996081  0.995739  1.000000  0.992785  0.992757      0.023444
Y2017         0.995230  0.988048  0.992785  1.000000  0.998103      0.024254
Y2018         0.994872  0.988208  0.992757  0.998103  1.000000      0.024279
Element Code  0.024457  0.023889  0.023444  0.024254  0.024279      1.000000

**Question13**

In [51]:
mask1 = df['Area']=='Madagascar'
mask2 =df['Element']=='Protein supply quantity (g/capita/day)'

In [52]:
df_mad =df[mask1 & mask2]

In [54]:
df_mad['Y2015'].sum()

173.04999999999998

**Question14**

In [57]:
df['Y2014'].isnull().sum()

1589

In [58]:
df['Y2014'].isnull().sum()/len(df['Y2014'])*100

2.6073544131401474

**Question16**

In [61]:
df.groupby('Element').sum()

<ipython-input-61-ba0985c2a5c7>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00